@model Kaiak2.Models.Promocao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Promocao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_Promo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_Promo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_Promo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_Promo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Promo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
